.advantages__title {
  .text-color-sets(36px;60px; @advantages-title-color);
  text-transform: none;
}

.advantages__list {
  .list-refresh();
}

.advantages__item {
  .set-outline();
  .last-child-margin();
}

.advantages__icon {
  color: @advantages-icon-color;
}

.advantages__desc {
  .sets-paragraph(14px;18px);
  margin: 0;
}
