.advantages__title {
  .text-sets(36px;60px);
  color: @text-color;
}
.advantages__list{
  .style-list();
}
.advantages__icon {
  color: @green-color;
}
.advantages__desc {
  .text-sets();
  color: #444444;
}
