.button {
  .text-sets(14px;18px);
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;

  &--green {
    color: @green-button-text-color;
    background-color: @green-button-color;

    &:hover,
    &:focus {
      background-color: @green-button-color-hover;
    }

    &:active {
      background-color: @green-button-color-active;
      color: fade(@green-button-text-color, 30%);
    }
  }

  &--gray {
    color: @grey-button-text-color;
    background-color: @grey-button-background-color;

    &:hover,
    &:focus {
      background-color: @grey-button-text-hover;
    }

    &:active {
      background-color: @grey-button-text-active;
      color: fade(@grey-button-text-color, 30%);
    }
  }
}
