.button {
  .text-sets(14px;18px);
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;

  &--green {
    color: @white;
    background-color: @green;

    &:hover,
    &:focus {
      background-color: @bright-green;
    }

    &:active {
      background-color: @bright-green;
      color: fade(@white, 30%);
    }
  }

  &--gray {
    color: @brown;
    background-color: @grey;

    &:hover,
    &:focus {
      background-color: @bright-grey;
    }

    &:active {
      background-color: @bright-grey;
      color: fade(@brown, 30%);
    }
  }
}
