.contacts {
  background-color: @contacts-background-color;

  &--index {
    background-color: @background-color;
  }

  @media (min-width: @width-desktop) {
    position: relative;
  }
}

.contacts__text {
  padding: 28px 20px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;

  @media (min-width: @width-tablet) {
    padding: 65px 70px 56px;
    width: @width-tablet;
  }

  @media (min-width: @width-desktop) {
    padding-left: 76px;
    padding-right: 70px;
    position: absolute;
    width: 570px;
    z-index: 5;
    top: 95px;
    left: 39px;
    background-color: @background-color;
  }
}

.contacts__slogan {
  .text-color-sets(16px; 20px; @contacts-slogan-color);
  text-transform: uppercase;
  margin: 0;
  width: 140px;

  @media (min-width: @width-tablet) {
    .text-sets(20px; 25px;);
    width: 175px;
  }
}

.contacts__address {
  .sets-paragraph(14px; 20px);
  margin: 0;
  width: 140px;

  @media (min-width: @width-tablet) {
    .text-sets(16px; 20px;);
    text-align: right;
    width: 175px;
  }

  @media (min-width: @width-desktop) {
    text-align: left;
  }
}

.contacts__address-city {
  @media (min-width: @width-tablet) {
    display: inline-flex;
    margin-top: 17px;
  }
}

.contacts__map-wrapper {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  width: auto;
  height: 362px;
  position: relative;

  @media (min-width: @width-tablet) {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    height: 397px;
  }

  @media (min-width: @width-desktop) {
    background-image: url("../img/bg-map-desktop@1x.png");
    height: 400px;
  }
}

@media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
  .contacts__map-wrapper {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: cover;
  }
}

@media (min-width: @width-tablet) and (min-resolution: @retina-dppx), (min-width: @width-tablet) and (min-resolution: @retina-dpi) {
  .contacts__map-wrapper {
    background-image: url("../img/bg-map-tablet@2x.png");
    background-size: cover;
  }
}

@media (min-width: @width-desktop) and (min-resolution: @retina-dppx), (min-width: @width-desktop) and (min-resolution: @retina-dpi) {
  .contacts__map-wrapper {
    background-image: url("../img/bg-map-desktop@2x.png");
    background-size: cover;
  }
}

.contacts__pin-wrapper {
  position: absolute;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 62px;
  height: 53px;
  left: 50%;
  top: 50%;
  margin-left: -31px;
  margin-top: -43px;

  @media (min-width: @width-tablet) {
    width: 113px;
    height: 106px;
    margin-left: -62px;
    margin-top: -51px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    left: 69%;
    top: 38%;
  }
}
