.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.field__label {
  .text-color-sets(16px; 18px; @label-color);
  text-transform: uppercase;
  flex-shrink: 0;

  @media (min-width: @width-tablet) {
    .text-sets(20px; 20px;);
  }
}

.field__input {
  .placeholder-style();
  .input-border();
  box-sizing: border-box;
  width: 100%;
  margin-left: 14px;
  padding: 13px 0;
  padding-left: 15px;

  &:active {
    + .field__icon-wrapper {
      fill: #68b738;
    }
  }

  &--error {
    + .field__icon-wrapper {
      fill: #ff8282;
    }
  }

  @media (min-width: @width-tablet) {
    padding: 16px 20px;
    margin-left: 16px;
  }
}

input[name="phone"],
input[name="email"] {
  margin-left: 10px;

  @media (min-width: @width-tablet) {
    margin-left: 16px;
  }
}

.field__icon-wrapper {
  position: absolute;
  right: 14px;

  @media (min-width: @width-tablet) {
    right: 16px;
  }

  @media (min-width: @width-desktop) {
    right: 19px;
  }
}
