.footer__logo,
.footer__copyright {
  //.set-outline();
}

.footer__logo {
  padding: 40px 20px 0;
}

.footer__copyright {
  padding: 0 20px 33px;
}

.footer__social {
  //.set-outline();
}
.footer__wrapper {
  background-color: @footer-background-color;
}
