.footer {
  background-color: @footer-background-color;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 27px;
  justify-content: space-between;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    padding-top: 59px;
    padding-bottom: 63px;
  }

  @media (min-width: @width-desktop) {
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 58px;
  }
}

.footer__logo {
  margin-bottom: 29px;
  align-self: center;

  @media (min-width: @width-tablet) {
    margin: 0;
  }
}

.footer__social {
  margin-bottom: 21px;
  padding: 24px 72px 16px;
  border-top: 1px solid @copyright-border-color;
  border-bottom: 1px solid @copyright-border-color;

  @media (min-width: @width-tablet) {
    border: none;
    padding: 0;
    margin: 0;
  }
}
