.form__title {
  .text-color-sets(36px;60px;@form-title-color);
  text-transform: none;
  margin: 0;
}
.form__desc {
  .text-color-sets(14px;18px;@form-desc-color);
}

.form__profile,
.form__program-pick,
.form__contacts-form,
.form__comments,
.form__additional {
  .fieldset-fresh();
  .set-outline();
}
.form__legend {
  .text-color-sets(24px;24px;@legend-color);
  text-transform: none;
}

.form__radio-list {
  .list-refresh();
}

.form__checkbox-list {
  .list-refresh();
}

.form__button {
  .set-outline();
}

.form__footnote {
  .sets-paragraph(14px;16px);
}
