.form {
  overflow: hidden;
}

.form__wrapper {
  .wrapper-reset();
}

.form__title {
  .text-color-sets(36px; 60px; @form-title-color);
  padding: 0 20px;
  margin: 14px 0 26px;

  @media (min-width: @width-tablet) {
    .text-sets(60px; 60px;);
    margin: 33px 0 57px;
    padding: 0;
  }

  @media (min-width: @width-desktop) {
    margin: 22px 0 55px;
  }
}

.form__desc {
  .text-color-sets(14px; 18px; @form-desc-color);
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 39px;

  @media (min-width: @width-tablet) {
    .text-sets(20px; 30px;);
    padding: 0;
    padding-left: 39px;
    width: 353px;
    margin-bottom: 66px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 0;
    margin-bottom: 65px;
  }
}

.form__fieldset-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;

  @media (min-width: @width-tablet) {
    margin-bottom: 75px;
    padding-left: 6px;
  }

  @media (min-width: @width-desktop) {
    flex-direction: row;
    margin-bottom: 68px;
    padding: 0;
    justify-content: space-between;
  }
}

.form__profile {
  .fieldset-fresh();
  margin-bottom: 23px;

  @media (min-width: @width-tablet) {
    padding: 0 18px;
    margin-bottom: 73px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 0;
    padding: 0;
    width: 570px;
  }
}

.form__input-profile {
  padding: 0 18px;
  margin-bottom: 15px;
  .last-child-margin();

  @media (min-width: @width-tablet) {
    margin-bottom: 22px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
  }
}

.form__field-profile {
  padding: 24px 0;

  @media (min-width: @width-tablet) {
    padding: 0;
    padding-right: 20px;
    margin-bottom: 73px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 0;
    width: 570px;
  }
}

.form__program-pick {
  .fieldset-fresh();
  padding: 22px 20px 13px;
  border-bottom: 1px solid @fieldset-border-color;
  border-top: 1px solid @fieldset-border-color;

  @media (min-width: @width-tablet) {
    border: 1px solid @fieldset-border-color;
    margin-left: 35px;
    margin-right: 36px;
    padding: 22px 25px 21px;
  }

  @media (min-width: @width-desktop) {
    width: 570px;
    padding-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
  }
}

.form__radio-list {
  .list-refresh();
}

.form__radio {
  margin-bottom: 6px;
  padding-top: 4px;
  padding-bottom: 14px;
  .last-child-margin();

  @media (min-width: @width-tablet) {
    padding-top: 11px;
    margin-bottom: 7px;
    padding-bottom: 13px;
  }
}

.form__legend-additional {
  .form__legend();
  margin-bottom: 35px;
  padding-right: 23px;

  @media (min-width: @width-tablet) {
    margin-bottom: 56px;
    padding-right: 40px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 42px;
  }
}

.form__additional {
  .fieldset-fresh();
  .reset-fieldset-wrapper();
  margin-bottom: 31px;

  @media (min-width: @width-tablet) {
    margin-bottom: 23px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 59px;
  }
}

.form__legend-comments {
  .form__legend();
  margin-bottom: 35px;
  padding-right: 20px;

  @media (min-width: @width-tablet) {
    margin-bottom: 76px;
    padding-right: 38px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 76px;
    padding-right: 40px;
  }
}

.form__legend-contacts {
  .form__legend();
  margin-bottom: 11px;
  width: 200px;

  @media (min-width: @width-tablet) {
    margin-bottom: 77px;
    width: auto;
    padding-right: 37px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 76px;
    padding-right: 42px;
  }
}

.form__contacts-form {
  .fieldset-fresh();
  .reset-fieldset-wrapper();
  margin-bottom: 3px;

  @media (min-width: @width-tablet) {
    margin-bottom: 64px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 59px;
  }
}

.form__field-contacts {
  padding: 24px 0;

  @media (min-width: @width-tablet) {
    padding: 0;
    padding-right: 17px;
  }

  @media (min-width: @width-desktop) {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__input-contact {
  margin-bottom: 15px;
  .last-child-margin();

  @media (min-width: @width-tablet) {
    margin-bottom: 22px;
  }

  @media (min-width: @width-desktop) {
    width: 570px;
    margin-bottom: 10px;
    padding: 0;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.form__comments {
  .fieldset-fresh();
  margin-bottom: 25px;
  .reset-fieldset-wrapper();

  @media (min-width: @width-tablet) {
    margin-bottom: 64px;
  }
}

.form__textarea-wrapper {
  @media (min-width: @width-tablet) {
    padding-right: 18px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
  }
}

.form__checkbox-list {
  .list-refresh();

  @media (min-width: @width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 85px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 0;
    padding-right: 27px;
  }
}

.form__checkbox {
  margin-bottom: 9px;
  padding-top: 5px;
  padding-bottom: 9px;
  .last-child-margin();

  @media (min-width: @width-tablet) {
    padding-top: 10px;
    width: 220px;
    margin-bottom: 30px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 0;
  }
}

.form__rest {
  .reset-fieldset-wrapper();
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 41px;
    padding-right: 143px;
    margin-bottom: 73px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 0;
    margin-bottom: 85px;
  }
}

.form__button {
  .text-sets(16px; 20px;);
  display: block;
  padding: 11px 0;

  @media (min-width: @width-tablet) {
    .text-sets(20px; 20px;);
    padding: 16px 64px;
  }

  @media (min-width: @width-desktop) {
    margin-right: 80px;
    flex-grow: 1;
    padding: 16px 84px;
  }
}

.form__footnote {
  .sets-paragraph(14px; 16px);
  margin: 0;
  text-align: center;
  padding: 20px 0 30px;

  @media (min-width: @width-tablet) {
    padding: 0;
    text-align: start;
    .sets-paragraph(16px; 16px);
  }

  @media (min-width: @width-desktop) {
    flex-grow: 1;
  }
}
