.header__wrapper {
  .wrapper-reset ();

  @media (min-width: @width-tablet) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
