.header {
  padding: 0;
  width: 320px;

  @media (min-width: @width-tablet) {
    padding: 24px 30px;
    width: @width-tablet;
  }

  @media (min-width: @width-desktop) {
    padding: 55px 110px;
    width: @width-desktop;
  }
}


