.header__wrapper {
  @media (min-width: @width-tablet) {
    display: flex;
    padding: 26px 30px;
    align-items: center;
  }
  @media (min-width: @width-desktop) {
    display: flex;
    padding: 55px 50px;
    align-items: center;
  }
}

.header__logo {
  //.set-outline();
  img  {
    display: block;
    margin: 20px 11px 0;
    @media (min-width: @width-tablet) {
      margin: 0;
    }
  }

}
