.intro {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  background-size: 100%;
  width: 100%;
  min-height: 481px;

  &::after {
    content: "";
    background-color: silver;
    position: absolute;
    width: 280px;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;

  }

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @width-tablet) {
    &::after {
      .reset-pseudo-el();
    }
    background-image: none;
    min-height: 845px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    min-height: 608px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-color: silver;
      background-size: cover;
      width: 50vw;
      min-height: 696px;
      right: 0;
      left: 50%;
      margin-top: -169px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.intro__image-wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -72px;

  @media (min-width: @width-tablet) {
    z-index: -1;
    left: 169px;
    top: 309px;
  }

  @media (min-width: @width-desktop) {
    z-index: 1;
    left: 49%;
    top: -25px;
    right: 0;
    margin-top: 0;
  }
}

.intro__image {
  @media (min-width: @width-tablet) {
    width: 100%;
  }
  @media (min-width: @width-desktop) {
    width: 62%;
  }
}

.intro__text {
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    width: 548px;
    padding-left: 116px;
    padding-top: 35px;
  }

  @media (min-width: @width-desktop) {

    width: 626px;
    padding-left: 190px;
    padding-top: 56px;
  }
}

.intro__title {
  text-align: center;
  padding: 29px 0 23px;
  margin: 0;
  .text-color-sets(36px; 36px; @intro-text-color);

  @media (min-width: @width-tablet) {
    .text-color-sets(60px; 60px; @intro-text-color-tablet);
    text-align: start;
    padding: 0;
    margin-bottom: 42px;
  }
}

.intro__desc {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  .text-color-sets(14px; 14px; @intro-text-color);

  @media (min-width: @width-tablet) {
    .text-color-sets(20px; 20px; @intro-text-color-tablet);
    text-align: start;
    margin-bottom: 50px;
  }
}

.intro__button {
  display: block;
  margin: 0 auto;
  margin-top: 304px;
  padding: 11px 73px;

  @media (min-width: @width-tablet) {
    margin: 0;
    padding: 15px 28px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    padding: 18px 26px;
  }
}
