.intro__section-wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    background-color: silver;
    position: absolute;
    width: 280px;
    height: 50%;
    top: 0;
    z-index: -1;
  }

  @media (min-width: @width-tablet) {
    &::after {
      .reset-pseudo-el();
    }
    background-image: none;
  }
}

.intro__image-wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -72px;


  @media (min-width: @width-tablet) {
    z-index: -1;
    left: 0;
    margin-left: 30px;
    margin-top: -204px;
    width: 709px;
  }

  @media (min-width: @width-desktop) {
    z-index: 1;
    left: 50%;
    margin-left: -160px;
    margin-top: -360px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-color: silver;
      width: 720px;
      height: 696px;
      left: 0;
      top: 0;
      margin-top: -140px;
      margin-left: 160px;
    }

  }
}

.intro__text {
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 90px;
    margin-top: 35px;
  }

  @media (min-width: @width-desktop) {
    margin-left: 80px;
    margin-top: 54px;
  }
}

.intro__title {
  text-align: center;
  padding: 29px 0 23px;
  margin: 0;
  .text-color-sets(36px;36px; @intro-text-color);

  @media (min-width: @width-tablet) {
    .text-color-sets(60px;60px; @intro-text-color-tablet);
    text-align: start;
    padding: 0;
  }
}

.intro__desc {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  .text-color-sets(14px;14px; @intro-text-color);

  @media (min-width: @width-tablet) {
    .text-color-sets(20px;20px; @intro-text-color-tablet);
    text-align: start;
    margin: 42px 0 49px;
  }
}

.intro__button {
  display: block;
  margin-top: 304px;
  padding: 11px 73px;

  @media (min-width: @width-tablet) {
    margin: 0;
    margin-bottom: 529px;
    padding: 15px 26px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    margin-bottom: 265px;
    padding: 18px 26px;
  }
}
