.intro {
  position: relative;
  box-sizing: border-box;
  min-height: 481px;

  &::after {
    content: "";
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #68b738;
    position: absolute;
    width: 100%;
    height: 305px;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media (min-width: @width-tablet) and (max-width: @width-desktop - 1) {
    &::after {
      .reset-pseudo-el();
    }
    background-image: none;
    min-height: 845px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    min-height: 608px;
    position: static;

    &::after {
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      width: 50vw;
      height: 696px;
      right: 0;
      left: auto;
      top: 0;
    }
  }
}

@media (max-width: @width-tablet - 1) and (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) and (max-width: @width-tablet - 1) {
  .intro {
    &::after {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

@media (min-width: @width-desktop) and (min-resolution: @retina-dppx), (min-width: @width-desktop) and (min-resolution: @retina-dpi) {
  .intro {
    &::after {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.intro__wrapper {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    width: @width-tablet;
  }

  @media (min-width: @width-desktop) {
    flex-direction: row;
    width: @width-desktop;
  }
}

.intro__image-wrapper {
  margin-top: -312px;
  margin-left: 19px;

  @media (min-width: @width-tablet) {
    position: static;
    z-index: -1;
    margin-left: 31px;
    margin-top: -78px;
  }

  @media (min-width: @width-desktop) {
    z-index: 1;
    margin-left: -136px;
    margin-top: -29px;
  }
}

.intro__image {
  @media (min-width: @width-tablet) {
    width: 709px;
    height: auto;
  }

  @media (min-width: @width-desktop) {
    width: 552px;
    height: auto;
  }
}

.intro__text {
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    width: 548px;
    padding-left: 116px;
    padding-top: 35px;
  }

  @media (min-width: @width-desktop) {
    width: 626px;
    padding-left: 120px;
    padding-top: 56px;
  }
}

.intro__title {
  text-align: center;
  padding: 29px 0 23px;
  margin: 0;
  .text-color-sets(36px; 36px; @intro-text-color);

  @media (min-width: @width-tablet) {
    .text-color-sets(60px; 60px; @intro-text-color-tablet);
    text-align: left;
    padding: 0;
    margin-bottom: 41px;
  }
}

.intro__desc {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  .text-color-sets(14px; 14px; @intro-text-color);

  @media (min-width: @width-tablet) {
    .text-color-sets(20px; 20px; @intro-text-color-tablet);
    text-align: left;
    margin-bottom: 47px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 50px;
  }
}

.intro__button {
  display: block;
  margin: 0 auto;
  margin-top: 304px;
  width: 280px;
  padding: 10px 0;

  @media (min-width: @width-tablet) {
    margin: 0;
    padding: 15px 28px;
    width: 193px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    padding: 17px 26px;
  }
}
