.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  &--nojs {
    .main-nav__toggle {
      display: none;
      margin: 0;
      width: 0;
      height: 0;
    }

    .main-nav__logo {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 8px;
      padding: 0;
    }

    .main-nav__nav-list {
      display: block;
    }
  }
}

.main-nav__logo {
  display: block;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  .logo-active();

  @media (min-width: @width-tablet) {
    margin: 0;
  }
}

.main-nav__image {
  @media (min-width: @width-tablet) {
    width: 173px;
    height: auto;
  }

  @media (min-width: @width-desktop) {
    width: 202px;
    height: auto;
  }
}

.main-nav__toggle {
  border: none;
  position: relative;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  margin-top: 17px;
  margin-right: 20px;
  width: 24px;
  height: 19px;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #111111;
      box-shadow: 0 7px 0 0 #111111, 0 14px 0 0 #111111;
    }

    &:active {
      &::before {
        background-color: fade(#111111, 30%);
        box-shadow: 0 7px 0 0 fade(#111111, 30%), 0 14px 0 0 fade(#111111, 30%);
      }
    }
  }

  &--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #111111;
      box-shadow: none;

      &:active {
        &::before,
        &::after {
          background-color: fade(#111111, 30%);
        }
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: @width-tablet) {
    .reset-el();
  }
}


.main-nav__nav-list {
  @media (min-width: @width-tablet) {
    flex-grow: 0;
    margin-left: auto;
    margin-top: 12px;
    width: auto;
  }
  flex-grow: 1;
  width: 100%;

  @media (min-width: @width-desktop) {
    z-index: 5;
  }
}
