.results {
  background-color: @results-background-color;

  @media (min-width: @width-tablet) {
    background-color: @background-color;
    position: relative;
    border-top: 1px solid #ededed;

    &::after {
      content: "";
      background: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%);
      position: absolute;
      height: 462px;
      width: 100%;
      top: 57.3%;
      left: 0;
    }
  }

  @media (min-width: @width-desktop) {
    border-top: none;

    &::after {
      top: 154px;
      height: 464px;
      background: linear-gradient(to right,#f2f2f2 calc(50% + 325px), #eaeaea calc(50% + 325px));
    }
  }
}

.results__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @width-tablet) {
    width: @width-tablet;
  }

  @media (min-width: @width-desktop) {
    width: @width-desktop;
    padding-left: 40px;
  }
}

.results__title {
  .text-color-sets(36px; 60px; @results-title-color);
  margin: 0;
  margin-bottom: 24px;
  padding: 16px 20px 0;


  @media (min-width: @width-tablet) {
    .text-sets(60px; 60px);
    margin-bottom: 65px;
    padding: 40px 30px 0;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    margin-bottom: 147px;
    width: 570px;
    padding-top: 18px;
  }
}

.results__content {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 68px;
  }
}

.results__info {
  margin-bottom: 33px;
  padding: 0 20px;

  @media (min-width: @width-tablet) {
    margin-bottom: 87px;
    padding: 0 30px;
  }

  @media (min-width: @width-desktop) {
    width: 570px;
    margin: 0;
    z-index: 8;
    padding: 0;
  }
}

.results__desc {
  .sets-paragraph(14px; 18px);
  margin: 0;
  padding-right: 10px;
  margin-bottom: 25px;

  @media (min-width: @width-tablet) {
    .sets-paragraph(16px; 24px);
    margin-bottom: 53px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    margin-bottom: 69px;
    padding-right: 138px;
  }
}

.results__counts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @width-tablet) {
    flex-wrap: nowrap;
    align-items: center;
  }

  @media (min-width: @width-desktop) {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 366px;
  }
}

.results__item {
  box-sizing: border-box;
  width: 124px;
  padding: 14px 0;
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: @width-tablet) {
    margin: 0;
    width: 161px;
    padding: 17px 0;
    margin-right: 45px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    width: 161px;
    padding: 17px 0;
    margin-bottom: 61px;
  }
}

.results__amount {
  .text-color-sets(24px; 24px; @results-amount-color);
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @width-tablet) {
    .text-sets(30px; 37px);
  }
}


.results__text {
  .sets-paragraph(12px; 12px);
  margin: 0;
  position: absolute;
  display: flex;
  align-items: baseline;
  bottom: -15px;
  width: 100%;

  &::after,
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #cdcdcd;
  }

  &::after {
    margin-left: 10px;
  }

  &::before {
    margin-right: 10px;
  }

  @media (min-width: @width-tablet) {
    .sets-paragraph(14px; 14px);
    bottom: -5px;

    &::after,
    &::before {
      width: 1px;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  @media (min-width: @width-desktop) {
    align-items: center;
    bottom: -7.9px;
  }
}

.results__money {
  .text-color-sets(14px; 20px; @results-amount-color);
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: @width-tablet) {
    .text-sets(20px; 20px);
    margin: 0;
    margin-left: auto;
    margin-top: 3px;
    width: 175px;
    text-align: right;
  }

  @media (min-width: @width-desktop) {
    .text-sets(20px; 20px);
    margin: 0 auto;
    text-align: justify;
    width: 100%;
  }
}

.results__money-amount {
  @media (min-width: @width-tablet) {
    margin-top: 9px;
    display: inline-flex;
  }

  @media (min-width: @width-desktop) {
    margin-top: 0;
    margin-left: 59px;
  }
}

.results__appearance {
  @media (min-width: @width-tablet) {
    z-index: 5;
  }

  @media (min-width: @width-desktop) {
    align-self: flex-end;
    width: 690px;
  }
}

.results__before-after {
  margin-bottom: 34px;

  @media (min-width: @width-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 18px;
  }

  @media (min-width: @width-desktop) {
    margin-top: -242px;
    height: 517px;
    margin-bottom: 25px;
    position: relative;

  }
}

.results__image-wrapper {
  width: 100%;
  max-width: 320px;
  height: 100%;
  max-height: 240px;

  &--after {
    display: none;
  }

  @media (min-width: @width-tablet) {
    overflow-x: hidden;
    max-width: 690px;
    max-height: 517px;
    z-index: 5;

    &--before {
      max-width: 341px;
    }

    &--after {
      max-width: 341px;
      display: block;
    }
  }

  @media (min-width: @width-desktop) {
    right: 0;
    margin-top: -17px;

    &--before {
      max-width: 362px;
    }

    &--after {
      max-width: 327px;
    }
  }
}

.results__image {
  @media (min-width: @width-tablet) {
    width: 690px;
    max-width: 690px;
    display: block;

    &--after {
      margin-left: -339px;
    }
  }

  @media (min-width: @width-desktop) {
    &--after {
      margin-left: -361px;
    }
  }
}

.results__slider {
  padding-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @width-tablet) {
    padding-bottom: 69px;
  }

  @media (min-width: @width-desktop) {
    padding-bottom: 0;
    padding-left: 40px;
  }
}

.results__slider-line {
  width: 83px;
  height: 13px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #cdcdcd;
  position: relative;
  margin: 0 17px 2px 18px;

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 12px;
    top: 3px;
    left: 8px;
    background-color: #68b738;
  }

  @media (min-width: @width-tablet) {
    width: 429px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 2.5px;
    margin: 0 22px 7px;
    z-index: 8;

    &::after {
      .reset-pseudo-el();
    }
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 8px;
  }
}

.results__slider-button {
  .text-color-sets(16px; 20px; @button-slider-text-color;@weight:normal);
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: block;
  padding: 0 0 2px;
  border-bottom: 1px dotted transparent;

  &:focus,
  &:hover {
    border-bottom: 1px solid rgba(red(#111111), green(#111111), blue(#111111), 0.4);
  }

  &:active {
    border-color: transparent;
  }

  @media (min-width: @width-tablet) {
    .text-sets(20px; 20px;);
    border-color: rgba(red(#111111), green(#111111), blue(#111111), 0.23);
    z-index: 5;
    padding: 0 0 6px;
  }

  @media (min-width: @width-desktop) {
    padding: 0 0 4px;
  }
}

.results__slider-pointer {
  @media (min-width: @width-tablet) {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    left: 198px;
    margin-top: -14px;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #68b738;
    }

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 13px;
      left: 13px;
      border-radius: 100%;
      background-color: #68b738;
    }
  }

  @media (min-width: @width-desktop) {
    left: 47%;
  }
}
