.site-list {
  .list-refresh();
  .text-sets(20px;20px;bold);
}

.site-list__item {
  a {
    color: @black;

    &:hover,
    &:focus {
      color: fade(@black, 60%);
    }

    &:active {
      color: fade(@black, 30%);
    }
  }
}

.site-list__item--active {
  a {
    border-bottom: 2px solid @green;
  }
}
