.site-list {
  .list-refresh();
  .text-sets(20px;20px;bold);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    .text-sets(18px;24px);
  }

  @media (min-width: @width-desktop) {
    .text-sets(20px;24px);
  }
}

.site-list__item {
  .set-border();
  padding: 23px 0 21px;
  display: flex;

  a {
    .set-link-nav(@nav-link-color-mobile);
    margin: 0 auto;
  }

  a[href=""]  {
      border-bottom: 2px solid @nav-border-active-color;
  }

  @media (min-width: @width-tablet) {
    padding: 0;
    border: none;
    display: block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      border: none;
    }

    a {
      margin: 0;
    }

    a[href=""]  {
      display: block;
      box-sizing: border-box;
      padding-bottom: 9px;
      border-bottom: 2px solid @nav-border-active-color;
    }
  }

  @media (min-width: @width-desktop) {
    &--index {
      a {
        .set-link-nav(@nav-link-color-desk);
      }

      a[href=""] {
        border-bottom: 2px solid @nav-border-active-color-desk;
      }
    }
  }
}
