.snacks__title {
  .text-color-sets(24px;24px;@snack-title-color);
  margin: 0;
}

.snacks__list {
  .list-refresh();
  margin: 35px 20px;
}

.snacks__item {
  padding: 19px 0;
  .set-border();
  .set-outline();
}
