.snacks {
  overflow: hidden;
}

.snacks__title {
  .text-color-sets(24px; 24px; @snack-title-color);
  margin-top: 0;
  margin-bottom: 35px;
  padding-right: 21px;
  display: inline-flex;

  @media (min-width: @width-tablet) {
    .text-sets(36px; 36px;);
    margin-bottom: 78px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 34px;
    margin-bottom: 81px;
    margin-right: -28px;
    margin-left: -36px;
  }
}

.snacks__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  @media (min-width: @width-tablet) {
    margin-bottom: 73px;
  }

  @media (min-width: @width-desktop) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.snacks__list {
  .list-refresh();
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: @width-desktop) {
    width: 893px;
    margin-bottom: 0;
  }
}

.snacks__promo-wrapper {
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-color: silver;
  background-repeat: no-repeat;
  width: 280px;
  height: 289px;
  margin: 0 auto;

  @media (min-width: @width-tablet) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    width: 708px;
    height: 200px;
  }

  @media (min-width: @width-desktop) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    height: 289px;
  }

}

@media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
  .snacks__promo-wrapper {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: contain;
  }
}

@media (min-width: @width-tablet) and (min-resolution: @retina-dppx), (min-width: @width-tablet) and (min-resolution: @retina-dpi) {
  .snacks__promo-wrapper {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
    background-size: contain;
  }
}

@media (min-width: @width-desktop) and (min-resolution: @retina-dppx), (min-width: @width-desktop) and (min-resolution: @retina-dpi) {
  .snacks__promo-wrapper {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
    background-size: contain;
  }
}

.snacks__promo-desc {
  .text-color-sets(16px; 20px; @promo-desc-text-color);
  font-family: "Arial", sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 65px;

  &::before {
    content: "";
    background-image: url(../img/icon-gift.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 61px;
    margin-bottom: 61px;
  }

  @media (min-width: @width-tablet) and (max-width: @width-desktop - 1px) {
    text-align: start;
    padding-top: 70px;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 36px;
    flex-direction: row;

    &::before {
      margin: 0;
      padding-left: 96px;
    }
  }
}
