.social__list {
  .list-refresh();
  display: flex;
  flex-direction: row;

  @media (min-width: @width-tablet) {
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
  }
}

.social__item {
  margin-right: 38px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @width-tablet) {
    transform: scale(1.5);
    margin-right: 33px;
  }
}

.social__icon {
  fill: #231f20;

  &:hover,
  &:focus {
    fill: @social-color-hover;
  }

  &:active {
    fill: @social-color-hover;
    opacity: 0.3;
  }
}
