.social__list {
  .list-refresh();
  display: flex;
  flex-direction: row;

  @media (min-width: @width-tablet) {
    padding-top: 10px;
  }
}

.social__item {
  margin-right: 38px;

  &:hover,
  &:focus {
    svg {
      fill: @social-color-hover;
    }
  }

  &:active {
    svg {
      fill: @social-color-hover;
      opacity: 0.3;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @width-tablet) {
    transform: scale(1.5);
    margin-right: 34px;
  }
}
