.textarea {
  .placeholder-input-style();
  .input-border();
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 13px 13px;
  resize: none;

  &:active,
  &:focus {
    padding: 12px 12px;
  }

  @media (min-width: @width-tablet) {
    height: 174px;
    padding: 16px 19px;

    &:active,
    &:focus {
      padding-top: 15px;
      padding-left: 18px;
    }
  }

  @media (min-width: @width-desktop) {
    padding: 14px 19px;

    &:active,
    &:focus {
      padding-top: 13px;
    }
  }
}
