.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;

  &::after {
    content: "";
    width: 66%;
    background-color: #68b738;
    height: 3px;
    position: relative;
    left: 19px;
    top: -4px;
  }
}