.wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  //box-sizing: border-box;

  @media (min-width: @width-tablet) {
    width: @width-tablet - (@padding-tablet * 2);
    padding: 0 @padding-tablet;
  }

  @media (min-width: @width-desktop) {
    width: @width-desktop - (@padding-desktop * 2);
    padding: 0 @padding-desktop;
  }
}
