body {
  margin: 0 auto;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  box-sizing: border-box;
  width: 320px;
}

a {
  text-decoration: none;
}
