.text-sets(@size;@height;@weight:normal) {
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
}

.text-color-sets(@size;@height;@color;@weight:normal) {
  .text-sets(@size; @height);
  color: @color;
}

.sets-paragraph(@size;@height) {
  .text-color-sets(@size; @height; @paragraph-color);
  font-family: "Arial", sans-serif;
  text-transform: none;
}

.list-refresh() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset-fresh() {
  border: 0;
  margin: 0;
  padding: 0;
}

.placeholder-style() {
  &::placeholder {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: @placeholder-text-color;
    text-transform: uppercase;

    @media (min-width: @width-tablet) {
      .text-sets(20px; 20px;);
    }
  }
}

.pick-label() {
  .text-color-sets(16px; 18px; @label-color);
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    color: fade(@label-color, 30%);
  }

  @media (min-width: @width-tablet) {
    .text-sets(20px; 20px;);
  }
}

.set-button(@color-text;@color;@color-hover;@color-active) {
  color: @color-text;
  background-color: @color;

  &:hover,
  &:focus {
    background-color: @color-hover;
  }

  &:active {
    background-color: @color-active;
    color: fade(@color-text, 30%);
  }
}

.set-product-title(@size;@height;@color) {
  a {
    .text-color-sets(16px; 16px; @product-title-color);

    &:hover,
    &:focus {
      color: fade(@product-title-color, 60%);
    }

    &:active {
      color: fade(@product-title-color, 30%);
    }
  }
  text-transform: uppercase;
  margin: 0;
}

.input-border () {
  outline: 0;
  border: 1px solid @border-input-color;

  &:active,
  &:focus {
    border: 2px solid @border-input-color-active;
  }

  &--error {
    border: 2px solid @border-input-color-error;
  }
}

.last-child-margin() {
  &:last-child {
    margin-bottom: 0;
  }
}

.set-border(@color:@product-item-border) {
  &:first-child {
    border-top: 1px solid @color;
  }
  border-bottom: 1px solid @color;
}

.set-link-nav(@color) {
  color: @color;

  &:hover,
  &:focus {
    color: fade(@color, 60%);
  }

  &:active {
    color: fade(@color, 30%);
  }
}

.wrapper-reset () {
  padding: 0;
  width: 320px;

  @media (min-width: @width-tablet) {
    padding: 0 30px;
    width: @width-tablet;
  }

  @media (min-width: @width-desktop) {
    padding: 0 110px;
    width: @width-desktop;
  }
}

.reset-pseudo-el () {
  content: "";
  position: static;
  background-color: transparent;
  width: 0;
  height: 0;
}

.reset-el () {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-fieldset-wrapper(@size:20px) {
  padding: 0 @size;
}

.form__legend (@size:9px) {
  .text-color-sets(24px; 24px; @legend-color);
  padding-left: @size;

  @media (min-width: @width-tablet) {
    .text-sets(36px; 36px;);
  }

  @media (min-width: @width-desktop) {
    padding: 0;
  }
}
