/*задайте фоновые цвета и фоновые изображения для блоков;
параметры текста: шрифты, размеры шрифта, межстрочные расстояния, цвет текста;
добавьте внутренние и внешние отступы и обводки для крупных сеточных блоков.*/
@white: #ffffff;
@black: #111111;
@brown: #444444;
@green: #68b738;
@bright-green: #5eaa2f;
@grey: #f2f2f2;
@bright-grey: #ebebeb;
@side-indent: 20px;
