/*задайте фоновые цвета и фоновые изображения для блоков;
параметры текста: шрифты, размеры шрифта, межстрочные расстояния, цвет текста;
добавьте внутренние и внешние отступы и обводки для крупных сеточных блоков.*/
@font-face {
  font-family: 'Oswald';
  src: url("source/fonts/oswaldregular.woff2"),
  url("source/fonts/oswaldregular.woff"),
  url("source/fonts/oswaldmedium.woff2"),
  url("source/fonts/oswaldmedium.woff");
  font-weight: normal;
  font-style: normal;
}
@color-common: #ffffff;
@text-color: #111111;
@green-color: #68b738;
@grey-color: #f2f2f2;

body {
  margin: 0 auto;
  padding: 0;

  font-family: 'Oswald', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  box-sizing: border-box;
  width: 320px;
}

a {
  text-decoration: none;
}
